.test{
    padding:40px;
    background-color:#f1f1f1;
    text-align:center;  
    width: 100%;
}
.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding:0 20px;
}
.border{
    width:160px;
    height: 5px;
    margin: 26px;   
}

#main{
    text-align: center;
}
.logo{
    font-size:30px;
    font-weight: bold;
    color:#4743cc;
    font-family: Poppins;
    position: absolute;
    left:30px;
}


nav{
    display:flex;
    justify-content:center;
    align-items:center;
    text-transform:uppercase;
    font-weight: 600;
    letter-spacing:2px;
    font-family: calibri;
    position: fixed;
    top:0;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
    box-shadow: 2px 2px 12px rgb(111, 178, 233);
    z-index: 1;
    background-color: white;
    padding-left: 300px;
}
.menu{
    display: flex;

}
.menu li a {
    padding: 10px 15px;
    font-size: 16px;
}
a{
    text-decoration: none;
    color:black;
}
ul li{
    list-style-type: none;
    right:100px;
    padding-right:3%;
}
.menu li a:hover
{
    background-color: rgb(130, 188, 235);
    color:#4743cc;
    font-weight: 700px;
    transition: all ease 0.4s;

}
#about{
    background-color:rgb(51, 48, 48);
}
.about-text{
    color:white;
    padding-top:100px;
    padding-left:50px;
    width:40%;
}
.app-box{
    width: 50%;
    padding-top:100px;
    padding-left:50px;
}
#about{
    width:100%;
    float:left;
}
.principal {
	width: 100%;
    float: left;
    background-color: white;
    right:0px;
    padding: 10px 40px ;


}
.text {
	width: 50%;
	color: #292929;
    float: left;
    padding-top:11%;
    padding-left:5%;
}
.cellphone {
	width: 35%;
	height: auto;
	float: left;
    padding-left: 9%;
    padding-top:10%;
}

.app-download{
    font-weight: 600;
    padding-top: 10%;
    padding-left:0%;
    font-size:18px;
}
.btn {
    border: 2px solid white;
    background-color:rgb(94, 169, 231) ;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }

  
  .save-text{
    width: 100%;
	float: left;
	text-align: center;
    background-color: #1a1818e0;
    right:0px;
    padding: 10px 40px ;

  }
  .info{
    float: left;
	text-align: center;
	padding-bottom:8%;
	padding-top: 9%;
	padding-left: 0%;
	padding-right: 5%;
    width: 27%;
	
  }
  .icon{
     display:inline-block;
     border-radius:40%;
     background-color:rgb(94, 169, 231);
     padding:15px;
     text-align: center;
     vertical-align: middle;
     border: 5px solid rgb(94, 169, 231)
     
  
  }
  i{
    color: white;
    display: table-cell;
    vertical-align: middle; 
    text-align: center;
    text-decoration: none;

  }

 .title{
     padding-left:0px;
     color:white;

 }
 .texto{
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  padding-left:4%;
  color: white;
 }
 